<h1>This is the sample page</h1>
<p>This is sample. This is sample. This is sample. This is sample. This is sample. This is sample. This is sample. </p>

<button>Yes</button>
<button>No</button>

<Footer>
  <a href="#">link</a>
  <a href="#">link</a>
  <a href="#">link</a>
</Footer>

<script>
  document.addEventListener("click", function (e) {
    const data = {
      x: e.clientX,
      y: e.clientY,
      url: location.href,
      width: window.innerWidth
    };

    // ajax通信を行いデータを送信する。
    const url = "/save";
    $.ajax({
      url: url,
      type: "POST",
      data: data,
      dataType: 'json'
    })
  });
</script>